$main_color: #1eacc7
$second-color: #ff5656
  
*
  font-family: 'Roboto', sans-serif

header
  position: relative
  height: 50px

nav
  position: fixed
  width: 100%
  height: 50px
  background: #212121
  z-index: 2

.menu
  display: flex
  justify-content: space-between
  padding: 13px 70px
  margin: 0
  list-style-type: none

  .menu_link
    color: #FFFFFF
    font-weight: 300
    font-size: 15px
    line-height: 15px

  .menu_item
    border-right: 2px dashed black
    padding-right: 28px

.subheader
  position: absolute
  top: 50px
  width: 100%
  height: 87px
  background-color: rgba(0, 0, 0, 0.6)

  .subheader_logo
    display: block
    margin-top: 17px
    min-width: 100%

  .subheader_official
    margin-top: 5px
    font-weight: 100
    font-size: 13px
    color: #FFFFFF
    opacity: 0.5

  .subheader_call
    margin-top: 22px
    color: #FFFFFF
    font-weight: 300
    font-size: 12px
    text-align: right

  .subheader_phone
    display: block
    margin-top: 6px
    font-weight: 400
    font-size: 22px
    color: #FFFFFF
    text-align: right
    text-transform: uppercase
    line-height: 12px

  .subheader_btn
    margin-top: 19px
    width: 172px
    height: 46px
    background-image: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%)
    box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.12)
    border: none
    border-radius: 4px
    font-weight: 400
    font-size: 14px
    line-height: 46px
    text-align: center
    text-transform: uppercase
    color: #FFFFFF

.promo
  min-height: 800px
  background: url(../img/bg/main_bg.jpg) center (center / cover) no-repeat
  padding: 150px 0 180px 0

  .promo_header
    font-weight: 900
    font-size: 60px
    line-height: 24px
    text-align: center
    text-transform: uppercase
    color: #FFFFFF

  .promo_subheader
    margin-top: 23px
    font-weight: 700
    font-size: 36px
    line-height: 48px
    text-align: center
    text-transform: uppercase
    color: #FFFFFF

  .promo_descr
    font-weight: 400
    font-size: 18px
    line-height: 24px
    text-align: center
    color: #FFFFFF
    margin-top: 17px

  .promo_btn
    display: block
    margin: 0 auto
    margin-top: 155px
    width: 259px
    height: 63px
    background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%)
    box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.12)
    border: none
    border-radius: 4px
    font-weight: 400
    font-size: 18px
    line-height: 63px
    text-align: center
    text-transform: uppercase
    color: #FFFFFF

.reasons
  min-height: 850px
  padding: 20px 0 64px 0

.label
  position: relative
  margin: 0 auto
  width: 115px
  height: 27px
  background: #000000
  font-weight: 400
  font-size: 11px
  text-align: center
  text-transform: uppercase
  color: #FFFFFF
  line-height: 30px
  z-index: 2
  &_white
    background: #FFFFFF
    color: #070716
    &_min
      width: 76px

.title
  position: relative
  margin-top: 33px
  font-weight: 700
  font-size: 38px
  line-height: 48px
  text-align: center
  text-transform: uppercase
  color: #222222
  z-index: 2
  &_white
    color: #FFFFFF

.subtitle
    position: relative
    margin-top: 15px
    font-weight: 400
    font-size: 17px
    color: #222222
    text-align: center
    z-index: 2
    &_white
      color: #FFFFFF

.reasons .reasons_block
  display: flex
  justify-content: center
  align-items: center
  margin-top: 25px

  .reasons_round
    display: flex
    justify-content: center
    align-items: center
    width: 116px
    height: 116px
    background: #1EACC7
    border-radius: 100px

  .reasons_descr
    width: 371px
    min-height: 150px
    margin-left: 25px

    .reasons_subtitle
      font-weight: 400
      font-size: 17px
      line-height: 21px
      color: #1EACC7

    .reasons_text
      font-weight: 300
      font-size: 15px
      line-height: 21px
      color: #202020

.mobile
    min-height: 864px
    padding: 46px 0 80px 0
    background: url('../img/bg/mobile_app.png') center (center / cover) no-repeat
    .row
        margin-top: 32px
    &_item
        position: relative
        width: 320px
        height: 280px
        margin: 0 auto
        margin-bottom: 19px
        padding-top: 92px
        &_1
            background: url('../img/bg/mobile_screen_1.jpg') center (center / cover) no-repeat
        &_2
            background: url('../img/bg/mobile_screen_2.jpg') center (center / cover) no-repeat
        &_3
            background: url('../img/bg/mobile_screen_3.jpg') center (center / cover) no-repeat
        &_4
            background: url('../img/bg/mobile_screen_4.jpg') center (center / cover) no-repeat
        &_5
            background: url('../img/bg/mobile_screen_5.jpg') center (center / cover) no-repeat
        &_6
            background: url('../img/bg/mobile_screen_6.jpg') center (center / cover) no-repeat
        &_subtitle
            font-weight: 400
            font-size: 24px
            line-height: 31px
            text-align: center
            text-transform: uppercase
            color: #FFFFFF
        &_plus
            display: flex
            justify-content: center
            align-items: center
            position: absolute
            bottom: 35px
            left: 50%
            transform: translateX(-50%)
            width: 26px
            height: 26px
            background: #000000
            border-radius: 100%
            margin: 0 auto
            cursor: pointer
            &::before
              content: ''
              display: block
              width: 14px
              height: 2px
              background-color: $main_color
              transition: 0.3s all
            &::after
              content: ''
              position: absolute
              display: block
              height: 14px
              width: 2px
              background-color: $main_color
              transition: 0.3s all
            &:hover
              &::before, &::after
                background-color: $second_color 

.choise
  position: relative
  min-height: 898px
  padding: 56px 0 137px 0
  background: url('../img/bg/mobile_app.png') center (center / cover) no-repeat
  &_img
    position: relative
    display: block
    margin: 56px auto 0 auto
    z-index: 2
  &_descr
    font-weight: 300
    font-size: 17px
    line-height: 24px
    text-align: center
    color: #222222
  .black
    position: absolute
    left: 0
    top: 0
    height: 502px
    width: 100%
    background: #070716
    z-index: 1

.require
  padding: 68px 0 89px 0
  &_block
    margin: 33px 0
    &_nbm
      margin-bottom: 0px
  &_title
    font-weight: 400
    font-size: 22px
    line-height: 24px
    color: #1CA8C3
  &_list
    list-style-type: none
    padding-left: 50px
    margin-top: 22px
    li
      position: relative
      font-weight: 300
      font-size: 17px
      line-height: 30px
      color: #222222
      &::before
        content: ''
        display: block
        position: absolute
        left: -32px
        top: 3px
        width: 21px
        height: 20px
        background: url(../icons/check_blue.svg) center (center / cover) no-repeat
  &_descr
    margin-top: 25px
    font-size: 17px
    font-weight: 300
    line-height: 24px
    color: #1CA8C3
  .warning
    .require_title
      color: $second-color
    .require_list
      li
        &::before
          background: url('../icons/check_red.svg') center (center / cover) no-repeat

.world
  min-height: 720px
  padding: 48px 0 22px 0
  background: url('../img/bg/map.jpg') center (center / cover) no-repeat
  &_link
    display: block
    margin-top: 430px
    font-weight: 400
    font-size: 15px
    line-height: 68px
    text-align: center
    text-transform: uppercase
    color: #1FBAD6